body {
  background-image: url("img/openbook.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 600px;

}
#main {
  margin-top: 200px;
  margin-left: 350px;
  margin-right: 800px;
}

h1 {
  font-size: 60px;
}

button {
  width: 250px;
  height: 80px;
  background-color: green;
  color: white;
  margin-left: 45px;
}

p {
  font-size: 35px;
}

button:hover {
  background-color: red;
}

#quote {
  margin-left: 55vw;
  margin-top: -200px;
  margin-right: 100px;
}

#authorOutput {
  text-align: center;
}
