body {
  background-image: url("img/openbook.jpg");
  background-size: cover;
  font-family: 'Great Vibes', cursive;
}
div {
  margin-top: 200px;
  margin-left: 340px;
  margin-right: 800px;
}

h1 {
  font-size: 65px;
}

button {
  width: 250px;
  height: 80px;
  background-color: blue;
  color: white;
  margin-left: 45px;
}

p {
  font-size: 35px;
}

button:hover {
  background-color: green;
}
